.training-wrapper {
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.training-content {
  padding-top: 5vh;
}

.select {
  margin: auto;
  margin-bottom: 30px;
  width: 150px;
  padding: 10px;
}