.program-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.programcard-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.programform-container {
  text-align: center;
  padding: 2rem;
}